@use "./abstracts/mixins" as *;
@use "./abstracts/variables" as *;

@use "./base/resets" as *;
@use "./base/typography" as *;
@use "./base/utilities" as *;

.container {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "n n n n  n n n n  n n n n"
    "m m m m  m m m m  m m m m"
    "a a a a  a a a a a a a a"
    "f f f f  f f f f  f f f f";
  @include respond(large) {
    column-gap: 0.8rem;
    grid-template-areas:
      "n n n n  n n n n  n n n n"
      "m m m m  m m m m  a a a a"
      "m m m m  m m m m  a a a a"
      "f f f f  f f f f  f f f f";
  }
}

.nav {
  width: 100%;
  grid-area: n;
  @include displayFlex(row, center, space-between);

  &__pages {
    width: 50%;
    @include displayFlex(row, center, space-between);
    font-size: 1rem;
    color: $dark-gray-blue;
    & > *:hover {
      cursor: pointer;
      color: $soft-red;
    }
  }

  &__menu {
    padding: 0.8rem;
    display: none;
    &:hover {
      background: rgba(#000, 0.1);
      border-radius: 50%;
    }
  }

  @include respond(small) {
    &__pages {
      display: none;
    }
    &__menu {
      cursor: pointer;
      display: block;
    }
  }
}

.main {
  grid-area: m;
  @include spacing(1rem);

  &__text {
    @include spacing(1rem);
  }
  &__content {
    @include spacing(1rem);

    &--description {
      color: $dark-gray-blue;
    }
  }

  &__button {
    background: $soft-red;
    letter-spacing: 0.2rem;
    color: $Off-white;
    padding: 0.8rem 1.8rem;
    display: inline-block;
    &:hover {
      cursor: pointer;
      background: $very-dark-blue;
    }
  }
  @include respond(large) {
    @include displayFlex(column, start, space-between);
    &__text {
      @include displayFlex(row, normal, space-between);
      &--header {
        font-size: 3rem;
      }
      .main__content {
        @include displayFlex(column, start, space-around);
        margin-top: 0;
        margin-left: $gutter * 3;
      }
    }
  }
}

.aside {
  color: $Off-white;
  background: $very-dark-blue;
  padding: 1rem;
  grid-area: a;
  @include spacing(1rem);
  &__content {
    @include spacing(1rem);
  }
  &__content--header {
    &:hover {
      cursor: pointer;
      color: $soft-orange;
    }
  }
  &__content--description {
    color: $gray-blue;
  }

  &__header {
    color: $soft-orange;
  }
  &__horizontal {
    background: $Off-white;
    height: 0.2rem;
    width: 100%;
  }
}

.boxParent {
  grid-area: f;
  @include spacing(1.5rem);
  .box {
    @include displayFlex(row, normal, space-between);
    &__image {
      height: auto;
      width: 35%;
    }
    &__text {
      @include displayFlex(column, start, space-between);
      gap: 0.5rem;

      width: 60%;
      &--number {
        color: $gray-blue;
      }

      &--heading {
        &:hover {
          cursor: pointer;
          color: $soft-red;
        }
      }

      &--description {
        color: $dark-gray-blue;
      }
    }
  }
  @include respond(medium) {
    @include displayFlex(row, start, space-between);
    gap: 1rem;
    .box {
      height: 100%;
      margin: 0;
    }
  }
}

// Blur When hammenu opens
.blur {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(#000, 0.8);
  position: fixed;
}

.hammenu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $Off-white;
  height: 100%;
  width: 70%;
  position: fixed;
  .hammenu__close {
    float: right;
    margin: 1rem;
    cursor: pointer;
    padding: 0.8rem;
    &:hover {
      background: rgba(#000, 0.1);
      border-radius: 50%;
    }
  }

  .hammenu__pages {
    height: 40%;
    @include displayFlex(column, normal, space-between);
    margin-top: 6rem;
    margin-left: 1.3rem;
    & > *:hover {
      cursor: pointer;
      color: $soft-red;
    }
  }
}
