@use "../abstracts/variables" as *;
// Center the Item
@mixin displayFlex($direction, $align, $justify) {
  display: flex;
  flex-flow: $direction nowrap;
  align-items: $align;
  justify-content: $justify;
}

// Media Query
@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 37.5rem) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media (min-width: 37.5rem) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media (min-width: 62rem) {
      @content;
    }
  }
}

// Margin Bottom
@mixin spacing($size: 1rem) {
  & > * + * {
    margin-top: $size;
  }
}
